// Here you can add other styles
.search-input {
  max-width: 500px;
  margin: 0 auto 20px;
}

.pagination-input {
  display: flex;
  justify-content: center;
}
button {
  &.icon {
    border: 0;
    background: transparent;
    padding: 0;
    outline: 0;
  }
}
.add-list {
  background: #f2f2f2;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.c-main {
  position: relative;
  .no-user-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.tableHeight {
  min-height: 500px;
}
