// Here you can add other styles
.search-input {
  max-width: 500px;
  margin: 0 auto 20px;
}

.pagination-input {
  display: flex;
  justify-content: center;
}
button {
  &.icon {
    border: 0;
    background: transparent;
    padding: 0;
    outline: 0;
  }
}
