// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";

.error {
  font-size: 14px;
}

.block-btn {
  color: white;
  margin: 0px 3px;
  padding: 2px 9px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  &.Unblock-btn {
    background-color: #76c476 !important;
  }
  &.block-btn {
    background-color: #e55353;
  }
  &.Deactive-btn {
    background-color: #e48a44;
  }
}
